Flask==2.3.3
pandas==2.1.1
matplotlib==3.8.0
numpy==1.26.4
python-dotenv==1.0.1
pyttsx3==2.98
pytz==2024.1
requests==2.31.0
yfinance==0.2.27
plotly==5.15.0
flask-sqlalchemy==3.0.0
flask-cors==5.0.0
gunicorn==23.0.0
dash==2.18.2